.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  background: rgb(219, 162, 132);
  display: block;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px gray;
  max-width: 500px;
}
.search-block {
  background: rgb(219, 162, 132);
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  border: none;
  color: white;
}
.search-input {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  border: none;
}
.degrees {
  font-weight: bold;
  font-size: 60px;
  display: flex;
}
body {
  background: beige;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 16px 0;
}
.emoji {
  width: 88px;
  height: 88px;
}
.unit {
  font-size: 35px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-day {
  line-height: 20px;
  margin-bottom: 10px;
}
.day {
  display: flex;
  text-align: center;
}
.image {
  font-size: 30px;
  display: flex;
  text-align: center;
}
.temp {
}
.temp-2 {
  padding: 0 10px;
}
.weather-forecast-temp {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}
